#1 - For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations. In this control flow statement, the keyword used is for. The for loop is used when the number of iterations is already known'''
### Example_1
### n = [1, 2, 3]  # Initialization
### for i in n:  # Condition and Updation
### print(i)
- While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown. The statement repeats itself till the boolean value becomes false.'''
### Example_2
### i = 1  # Initialization
### while i < 6:  # Condition
### print(i)
### i += 1  # Updation -->

In [4]:
#2
# For Loop
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print("sum of first ten natural numbers is: ",sum)
print("product of first ten natural numbers is: ",product)
# While loop
i=1
j=1
sum=0
product=1
while i and j<=10:
    sum=sum+i
    product=product*j
    i=i+1
    j=j+1
print("The sum of first ten natural numbers are",sum)
print("The product of first ten natural numbers are",product)

sum of first ten natural numbers is:  55
product of first ten natural numbers is:  3628800
The sum of first ten natural numbers are 55
The product of first ten natural numbers are 3628800

In [52]:
#3 electricity bill program
units=int(input("enter your units per month"))
if units<=100:
              print("your electricity bill is: ",units*4.5,"Rupees")
elif units>100 and units<=200:
              print("your electricity bill is: ",units*6,"Rupees")
elif units>200 and units<=300:
              print("your electricity bill is: ",units*10,"Rupees")
elif units==310:
                print("your electricity bill is: ",2250,"Rupees")
elif units>300:
              print("your electricity bill is: ",units*20,"Rupees")

enter your units per month 315

your electricity bill is:  6300 Rupees

In [1]:
#4
l1=[]
for i in range(1,101):
    if (i^3)%4==0 or (i^3)%5==0:
        l1.append(i)
print(l1)

[3, 6, 7, 9, 11, 12, 15, 19, 23, 26, 27, 29, 31, 32, 35, 39, 43, 46, 47, 49, 51, 52, 55, 59, 63, 66, 67, 69, 71, 72, 75, 79, 83, 86, 87, 89, 91, 92, 95, 99]

In [2]:
len(l1)

40

In [82]:
#4
l2=[]
a=1
while a<=100:
    if (a^3)%4==0 or (a^3)%5==0:
        l2.append(a)
    a=a+1
print(l2)

[3, 6, 7, 9, 11, 12, 15, 19, 23, 26, 27, 29, 31, 32, 35, 39, 43, 46, 47, 49, 51, 52, 55, 59, 63, 66, 67, 69, 71, 72, 75, 79, 83, 86, 87, 89, 91, 92, 95, 99]

In [65]:
#5
string=("Mohammed Abbas Khan")
count=0
vowel=['a','e','i','o','u','A','E','I','O','U']
string=string.lower()
for a in string:
    if a in vowel:
        count=count+1
print(count)

6